@page "/addcourse"
<h3>Add Course</h3>

@* Test for add course *@

<form>
    <label for="name">Add new course: </label>
    <input type="text" id="name" @bind="courseName" />

    <button type="button" @onclick="SubmitForm">Submit</button>
</form>

<p>Course: @courseName</p>

@code {
    // Define properties to store user input
    private string courseName;
    // Event handler for form submission
    private void SubmitForm()
    {
        // Process the form data here
        // For simplicity, just displaying the entered data in this example
        // Submit the data to a server.
        Console.WriteLine($"Name: {courseName}");
    }
}