@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Lexicon_LMS.Shared.Domain

@attribute [Authorize]

<PageTitle>Course Overview</PageTitle>

<a href="@($"createCourse")" class="btn btn-outline-primary">Add new course</a>

<h1>Course overview</h1>

@if (courses == null)
{
    <p>Loading....</p>
}
else if (courses.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Course Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">Length (Days)</th>
                <th scope="col">Last Application Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td scope="row">@course?.Id</td>
                    <td scope="row"><a href="@($"coursedetails/{course?.Id}")">@course?.Name</a></td>
                    <td scope="row">@course?.Description</td>
                    <td scope="row">@course?.StartDate.ToString("yyyy-MM-dd")</td>
                    <td scope="row">@course?.LengthDays</td>
                    <td scope="row">@course?.LastApplicationDay.ToString("yyyy-MM-dd")</td>
                    <td>  
                        <a href="@($"editcourse/{course?.Id}")"
                            class="btn btn-primary m-1">Edit</a>   
                    </td>
                    <td>
                         <button class="btn btn-danger" @onclick="() => Delete(course?.Id)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert alert-warning">No courses available.</p>
}
