@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Lexicon_LMS.Shared.Models.Entities

@attribute [Authorize]
@* @inject HttpClient Http *@

<PageTitle>Course Overview</PageTitle>

<h1>Course overview</h1>

@if (courses == null)
{
    <p>Loading....</p>
}
else if (courses.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Course Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start Date</th>
                <th scope="col">Length (Days)</th>
                <th scope="col">Last Application Day</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in courses)
            {
                <tr>
                    <td>@course?.Id</td>
                    <td>@course?.Name</td>
                    <td>@course?.Description</td>
                    <td>@course?.StartDate.ToString("yyyy-MM-dd")</td>
                    <td>@course?.LengthDays</td>
                    <td>@course?.LastApplicationDay.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No courses available.</p>
}
