@page "/finaleditmodule/{ModuleId:int}"

@inherits FinalUpdateModule
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Lexicon_LMS.Shared.Domain

<h3>Edit Module</h3>

<FinalUpdateModule ModuleId="ModuleId" />
