

@page "/student/"

<PageTitle>Student Portal</PageTitle>
<div class="row">
	<div class="col-12">
		<h3>Studentportal</h3>
	</div>
</div>

<div class="row">
	<div class="col-7">
		@* <StudentTodaysTasks UserId="UserId"></StudentTodaysTasks> *@
		<StudentTodaysTasks></StudentTodaysTasks>
	</div>
	<div class="col-5"></div>

</div>

<div class="row">	
	<div class="col-7">
		<StudentCourseInfo></StudentCourseInfo>
	</div>
	<div class="col-5"></div>
</div>



