

@page "/student"

<PageTitle>Student Portal</PageTitle>
<div class="row">
	<div class="col-12">
		<h3>Studentportal</h3>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<StudentTodaysTasks></StudentTodaysTasks>
	</div>
	<div class="col-6"></div>

</div>

<div class="row">	
	<div class="col-6">
		<StudentCourseInfo></StudentCourseInfo>
	</div>
	<div class="col-6"></div>
</div>



