@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <a href="authentication/profile" class="light-link">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link light-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        @* <a href="authentication/register">Register</a> *@
        <div class="nav-link">
        <a href="authentication/login">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}
