@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
           @*  <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a> *@
        </div>

        <article class="content px-4">
            <div class="main-content-wrapper">
                @Body
            </div>

        </article>
         <div class="page-footer">
        <p  style="margin:5px 10px 5px 0px;">&copy; Grupp 4 2024</p>
    </div>
    </main>
</div>
